//META{"name":"Beard_material_design_theme_addon","description":"User popouts upgraded for Beard's material design theme","author":"mrmaple240, Snow-Pyon & Zerebos (rauenzi)","version":"1.0.5"}*//{}

@import url("https://rawgit.com/Snow-Pyon/BDStuff/master/themes/BMDAddon/import/BMDAddon.css");
